<div class="row">

	<div class="span3">
		<%= erb :'admin/navigation', layout: false %>
	</div>
	
	<div class="span9">
		<!-- <ul class="breadcrumb">
			<li>Admin <span class="divider">/</span></li>
			<li>Manuals <span class="divider">/</span></li>
			<li class="active">Chapters</li>
		</ul> -->
	
		<h1><%= @manual.name %> - <%= @section.section_title %> - Chapter <%= @chapter.chapter_number %></h1>
		<hr />
		<div class="md">
		<div class="pull-right"><a href="/admin/manuals/<%= @manual.id %>/sections/<%= @section.id %>/chapters/<%= @chapter.id %>/edit" class="btn btn-small">Edit</a> <a class="btn btn-primary btn-small" href="/admin/manuals/<%= @manual.id %>/sections/<%= @section.id %>/chapters">Chapters</a> </div>
		<p class="para"><small class="blue-color">(Last updated <%= @chapter.updated_at.display_short %>)</small></p>
		<% if @chapter.chapter_title != "" %>
		<h1><%= @chapter.chapter_title %></h1>
  	 	<% else %>
  	 	<h2 style="margin-top: 0;"><%= @chapter.sub_chapter_title %></h2>
  	 	<% end %>
		<%= markdown @chapter.body %>
		<hr />
		</div>

	</div>

</div>