<div class="row">

	<div class="span3">
		<%= erb :'admin/navigation', layout: false %>
	</div>

	<div class="span9">
		<!-- <ul class="breadcrumb">
			<li>Admin <span class="divider">/</span></li>
			<li class="active">Issues</li>
		</ul> -->
		
		<div class="page-header">
			<h2>Issues</h2>
		</div>
		<div>
			<p>Issues editor uses Markdown for formatting. See <a href="/admin/markdown">Markdown Guidelines</a> for syntax.</p>
		<div>
			<table class="table table-striped">
				<tr>
					<th>
						Issue
					</th>
					<th>
						Problem
					</th>
					<th>
						Solution
					</th>
					<th style="text-align: right;">
						<a class="btn btn-mini btn-success" href="/admin/issues/new"><i class="icon-plus icon-white"></i></a>
					</th>
				</tr>
				<% @issues.each do |i| %>
				<tr>
					<td style="color: #bc272e;">
						<strong><%= i.name %></strong>
					</td>
					<td>
						<%= markdown i.problem %>
					</td>
					<td>
						<%= markdown i.solution %>
					</td>
					<td style="text-align: right;">
						<a class="btn btn-mini btn-primary" href="/admin/issues/<%= i.id %>/edit"><i class="icon-edit icon-white"></i></a>
					</td>
				</tr>
				<% end %>

			</table>
		</div>
		
	</div>

</div>