<div class="row">
	
	<div class="span3">
		<%= erb :'admin/navigation', layout: false %>
	</div>
	
	<div class="span9">
		<!-- <ul class="breadcrumb">
			<li>Admin <span class="divider">/</span></li>
			<li class="active">Users</li>
		</ul> -->
		<H1 class="page-header">Users</H1>
		<form class="form-search pull-right" method="get" action="/admin/users">
			<div class="input-append">
			<input type="text" class="input-xlarge search-query" name="search" value="<%= params[:search] %>" />
			<button type="submit" style="border: 1px solid green;" class="btn btn-success ">Search</button>
		</div>
		</form>

		<table class="table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Expires</th>
					<!-- <td> </td> -->
					<th style="text-align: right;"><a class="btn btn-mini btn-success" href="/admin/users/new"><i class="icon-plus icon-white"></i></a></th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td>
							<%= user.name %> <!-- <% if user.license %><a href="#" data-toggle="tooltip" data-delay="0" title="<%= user.license %>"><span class="label label-success pull-right"><small>CEU</small></span></a><% end %> --><%= '<span class="label label-inverse pull-right"><small>Admin</small></span>' if user.admin? %>
						</td>
						<td>	
							<a href="mailto:<%= user.email %>"><%= user.email %></a>
						</td>
						<td>
							<small><%= user.expiration_date %>  <!-- &nbsp; <span style="color: #45a3e6;"><a href="#" data-toggle="tooltip" data-placement="top" title="Number of Purchases"><%= user.purchases.count %></a></span></small>
							<% user.purchases.each do |purchase| %>
								<% if purchase.package == 'Account Extension' || purchase.package == 'Account Expiration' %> <small><a href="#" data-toggle="tooltip" data-placement="top" title="Account Extension">e</a></small> <% end %>
								<% if purchase.package == 'NCMHCE: Hard Copy' || purchase.package == 'NCE: Hard Copy' %> <small><a href="#" data-toggle="tooltip" data-delay="0" title="Purchased Hard Copy">h</a></small> <% end %>
							<% end %> -->
						</td>
						<!-- <td>
							<% unless user.name == 'Sample User (do not delete)' %><a href="/admin/users/<%= user.id %>/delete" style="float: right; padding: 0 2px;" class="btn btn-danger btn-mini"><strong>X</strong></a> &nbsp; <% end %><% if user.email == "sample" %>Sample <%= user.id %><% end %>
						</td> -->
						<td style="text-align: right;">
							<% if user.email == "sample" %>
							<a href="/admin/users/<%= user.id %>/remove_sample">Remove</a>
							<% else %>
							<a href="/admin/users/<%= user.id %>">Edit</a>
							<% end %>
						</td>
					</tr>
					
				<% end %>
		  </tbody>
		</table>
	</div>
	
</div>

