<fieldset id="account">
	
	<legend>
		<span class="oswald" style="padding: 0 9px 0 7px;">2</span>
		<% if locals[:user] %>
			You're already signed in
		<% else %>
			Create an account
		<% end %>
	</legend>
	
	<div class="control-group" style="margin: 0;">
		<label class="control-label" for="first_name">First Name</label>
		<div class="controls">
			<% unless user %>
			<input type="text" class="input-xlarge" id="first_name" name="first_name" style="color: #000000;" value="<%= params[:first_name] %>" />
			<% else %>
			<input type="text" class="input-xlarge" id="first_name" name="first_name" style="color: #000000;" value="<%= (/\A(.*)\W/.match(@user.name).to_s.strip if @user) %>" disabled />
			<% end %>
		</div>
	</div>
	
	<div class="control-group" style="margin: 0;">
		<label class="control-label" for="last_name">Last Name</label>
		<div class="controls">
			<% unless user %>
			<input type="text" class="input-xlarge" id="last_name" name="last_name" style="color: #000000;" value="<%= params[:last_name] %>" />
			<% else %>
			<input type="text" class="input-xlarge" id="last_name" name="last_name" style="color: #000000;" value="<%= (/\W(.*)\z/.match(@user.name).to_s.strip if @user) %>" disabled />
			<% end %>
		</div>
	</div>
	<div class="control-group" id="email-group" style="margin: 0;">
		<label class="control-label" for="email">Email address</label>
		<div class="controls">
			<input type="text" class="input-xlarge" id="email" name="email" style="color: #000000;" <%= "value='#{locals[:user].email}' disabled" if user %> />
		</div>
	</div>
	<div class="control-group" style="margin: 0;">
		<label class="control-label" for="password">Password</label>
		<div class="controls">
			<input type="password" class="input-xlarge" id="password" name="password" style="color: #000000;" <%= "value='secret123' disabled" if user %>
		</div>
	</div>
	
	<% if locals[:user] %>
		<input type="hidden" name="user_id" id="user_id" value="<%= locals[:user].id %>" />
	<% end %>
	
</fieldset>