	
<div class="row hidden-phone">
	<div class="span9 offset3">
		<div class="row">
			<% if @user.ncmhce_downloads && @manual.name == "NCMHCE Study Supplement" %>
			<div class="span6">
				<h3 class="oswald" style="color: #1c89de; margin: 0.9em 0 0.5em 0;">Study Program Guide prepared for <%= @user.name %></h3>
				<h1 style="font-size: 2em;"><%= @manual.name %></h1>
				<br />
				<img src="/img/NCMHCE-Cover.jpg" style="width: 340px; border: 1px solid silver; -webkit-box-shadow: 3px 6px 11px #b2b5bc; -moz-box-shadow: 3px 6px 11px #b2b5bc; box-shadow: 3px 6px 11px #b2b5bc; " />
				<br /><br />
				<p><a href="/manuals/<%= @manual.id %>/sections" class="btn btn-small btn-primary">View Study Supplement</a></p>
			</div>
			<% end %>
			
			<% if @user.nce_downloads && @manual.name == "NCE Study Guide" %>
			<div class="span6">
				<h3 class="oswald" style="color: #1c89de; margin: 0.9em 0 0.5em 0;">Study Program Guide prepared for <%= @user.name %></h3>
				<h1 style="font-size: 2em;"><%= @manual.name %></h1>
				<br />
				<img src="/img/NCE-cover.png" style="width: 340px; border: 1px solid silver; -webkit-box-shadow: 3px 6px 11px #b2b5bc; -moz-box-shadow: 3px 6px 11px #b2b5bc; box-shadow: 3px 6px 11px #b2b5bc; " />
				<br /><br />
				<p><a href="/manuals/<%= @manual.id %>/sections" class="btn btn-small btn-primary">View Study Guide</a></p>
			</div>
			<% end %>
		</div>
	</div>
</div>


<!-- <div class="row visible-phone">
	<div class="span9 offset3">
		<div class="row">
			<% if @user.ncmhce_downloads && @manual.name == "NCMHCE Study Supplement" %>
			<div class="span6">
				<h3 class="oswald" style="color: #1c89de; margin: 0.9em 0 0.5em 0;">Study Program Guide prepared for <%= @user.name %></h3>
				<h1 style="font-size: 2em;"><%= @manual.name %></h1>
				<br />
				<img src="/img/NCMHCE-Cover.jpg" style="width: 340px; border: 1px solid silver; -webkit-box-shadow: 3px 6px 11px #b2b5bc; -moz-box-shadow: 3px 6px 11px #b2b5bc; box-shadow: 3px 6px 11px #b2b5bc; " />
				<br /><br />
				<p><a href="/manuals/<%= @manual.id %>/sections" class="btn btn-small btn-primary">View Study Supplement</a></p>
			</div>
			<% end %>

			<% if @user.nce_downloads && @manual.name == "NCE Study Guide" %>
			<div class="span6">
				<h3 class="oswald" style="color: #1c89de; margin: 0.9em 0 0.5em 0;">Study Program Guide prepared for <%= @user.name %></h3>
				<h1 style="font-size: 2em;"><%= @manual.name %></h1>
				<br />
				<img src="/img/NCE-cover.png" style="width: 340px; border: 1px solid silver; -webkit-box-shadow: 3px 6px 11px #b2b5bc; -moz-box-shadow: 3px 6px 11px #b2b5bc; box-shadow: 3px 6px 11px #b2b5bc; " />
				<br /><br />
				<p><a href="/manuals/<%= @manual.id %>/sections" class="btn btn-small btn-primary">View Study Guide</a></p>
			</div>
			<% end %>
		</div>
	</div>
</div> -->




	


