<div>
	<h1>
		NCMHCE Scenarios
	</h1>
<hr />
</div>
	<div class="row">
		<div class="span12">
			
			<div class="accordion">
				<a class="btn btn-warning" data-toggle="collapse" href="#collapseOne">
					<strong>Instructions</strong> &nbsp;
					<span class="caret"></span>
				</a> <br /><span style="color: #d45f11; font-size: 0.8em;"><strong>Please read instructions before beginning.</strong></span>
			</div>
	        <div id="collapseOne" class="collapse">
				<div class="accordion-inner" style="border-color: #d45f11;">
					<h3>Exam Format Instructions</h3>
					<br />
					<p>NOTE: The 37 tutorial scenarios questions become more complex as you advance deeper into the list.</p>

					<p>The 37 tutorial scenarios and 10 exam scenarios are similar to the design utilized by the National Board for Certified Counselors (NBCC) for the NCMHCE. These scenarios follow the standard protocol used to assess a mental health disorder for a simulated client case. Many of the scenarios will provide adequate information to make only a single provisional diagnosis; however, several scenarios will provide information that point to two or three diagnoses.</p>

					<p>The scenarios will be introduced with a brief description of the client's initial statement or presenting complaint. Read each summary carefully. The scenario questions then simulate your actions as a counselor. You are to select answers to each scenario question so they are best choices to gather information necessary to formulate a diagnosis and later a treatment plan. For example, in the first question you are only an assessor for symptoms even though it is likely all of the selections could be helpful throughout the scenario.</p>

					<p>As you select answers to each question, note that most have more than one answer that will provide important information. These selections will positively affect your score, and it is best to select as many positive answers as possible. Other answers will not be helpful to answer the question, and thus will negatively affect your score. You will be able to view all scores and answers associated with each question when you click submit after the last question of each scenario.</p>

					<p>Part of the critical thinking evaluation is for you to determine which selections are most important to answer the question. A response is displayed or revealed immediately upon choosing an answer.</p>

					<p>Important: Each scenario contains a diagnosis and is a Stop question. After initial information gathering questions, sufficient information will have been provided for you to make a correct diagnosis. For the Stop question, you will be instructed not to go forward until a correct diagnosis is made.</p>

					<p>In selecting the provisional diagnosis you may have sufficient information for two or three diagnoses that meet full criteria.  When there are two correct diagnoses, this will require one answer that lists the correct diagnoses on the same answer line. (Example: Alcohol Use Disorder, Obsessive Compulsive Disorder.) The predominate diagnosis requiring the most work is listed first followed by the second diagnosis, if it also meets full criteria. NOTE: For now, those scenarios that require a third diagnosis before going to the next question will require three separate answers.</p>

					<p>Note: Your previous selections and answers are available during the entire exercise. To review previous selections and answers during the scenario, go to the bottom of the page and select the page number that corresponds to the question and answers you desire to review. You will be able to review answers to each question previously selected but you will not be able to select any additional answers.</p>

					<p><strong>IF YOU PURCHASED THE STARTER PACKAGE</strong> you may choose any 12 of the 37 online scenarios (scenario 1 is a sample and doesn't count against your total). It may be to your benefit to mix them up and not just take the first 12 in order because they become more complex as the scenario number gets larger. You may read the entire scenario synopsis of every scenario without being charged towards your 12; the count begins once you start answering the scenario. Once you have selected the 12th scenario, the link to obtain access to all other scenarios will disappear and you will no longer be able to access additional scenarios without purchasing an upgrade package. You may, however, retake the same 12 scenarios you selected multiple times.</p>
				</div>
			</div>
			<hr style="margin-top: 0;" />
			<div class="row">
				
				<div class="span12">
					<h1 class="pull-left">Exam Scenarios</h1> <a class="btn btn-large btn-primary oswald" href="/ncmhce/scenarios" style="font-size: 1.3em; margin-top: 3px; margin-left: 1em;"><strong>View Tutorial Scenarios</strong></a>
					<hr />
				</div>
				
					<% @scenarios.each do |scenario| %>
						<% unless scenario.workshop %>
							<% if scenario.practice %>
								<div class="span6" style="min-height: 14em;">
									<h3>
										<%= scenario.id %>. <%= scenario.title %>
										<%= '<span class="label label-info">Sample</span>' if scenario.sample? %>
										<% avg = @averages.detect {|a| a.scenario_id == scenario.id} %>
										<small style="color: #20ae32; font-weight: bold;" class='darker-gray'>&nbsp; <% if avg %>Last taken - <%= avg.updated_at.display_short if avg %><% end %></small>
									</h3>
									<span class="visible-desktop"><%= markdown scenario.body.truncate(46) %></span>
									<span class="visible-tablet"><%= markdown scenario.body.truncate(46) %></span>
									<span class="visible-phone"><%= markdown scenario.body.truncate(46) %></span>
									<% if scenario.sample? || @uses.include?(scenario.id) %>
										<% if avg %>
											<p><a class="btn btn-small btn-info" href="/ncmhce/scenarios/<%= scenario.id %>"><strong>Review scenario <%= scenario.id %></strong></a></p>
										<% else %>
											<p><a class="btn btn-small btn-info" href="/ncmhce/scenarios/<%= scenario.id %>"><strong>Continue with scenario <%= scenario.id %></strong></a></p>
										<% end %>
									<% elsif @remaining_practice_scenarios > 0 %>
										<p><a class="btn btn-small btn-primary" href="/ncmhce/scenarios/<%= scenario.id %>">Take scenario <%= scenario.id %></a></p>
									<% else %>
									  &nbsp;
									<% end %>

									<br />
								</div>

							<% end %>
						<% end %>
					<% end %>

				</div>
			</div>
		</div>
	

<a href="#top" style="position: fixed; bottom:7%;right: 0;" class="visible-phone"><img src="/img/up-pointer-side.svg" /></a>